type='hvm'
memory = 4096
#maxmem = 8240
vcpus=8
#cpus="2-3"
name = "hvm"
vif = ['bridge=xenbr0']
disk = ['phy:/home/bitchebe/Documents/PML/vms/hvm.raw,hda,w']
#,'file:/home/bitchebe/Documents/PML/vms/ubuntu-16.04.5-server-amd64.iso,hdc:cdrom,r'
#****to put the VM in shadow mode****
#hap=0
#nestedhvm=1
#**********************************
acpi = 1
device_model_version = 'qemu-xen-traditional'
boot="c"
#xen_platform_pci=1
sdl=0
serial='pty'
vnc=1
vnclisten=""
vncpasswd=""
#on_poweroff = 'destroy'
#on_reboot   = 'restart'
on_crash    = 'destroy'
